a {
    padding: 1%;
    text-decoration: none;
    color: white;
    outline: 0;
}

#anchors {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    position:static;
}

#container{ 
    padding: 1%;
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(45deg, #dcffff 0, #9db9f2 50%, #5f6677 100%);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;

}

@keyframes color {
    0%{
        background-position: 0 25%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }

}

/* inicio css para pagina perfil*/

#apresentation{
    display: flex;
    margin-top: 5%;
    justify-content:space-around;
    
    border: 10px solid gray;
}


#frase{
    display:flex;
    flex-direction:column;
   justify-content: center;
   text-align: center;

    border: 5px solid green; 
}

.frase1{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
.frase2{
    font-size: 40px;;
    color: black;
}
.frase3{

    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
    background-color: brown;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

#contactos{
    border: 5px solid blue;
    width: fit-content;
    margin-top: 2%;
   margin-left: 24%;
}

#aboutMe{
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    justify-content: center;
    border: 5px solid red;
    align-items: center;
}

#footer{
   background-color: black;
   text-align: center;
   color: white;
   padding: 10px;
    border: 5px solid black;
    margin-top: 5%;
     
}


/* inicio css para pagina education*/

#form{
    display: flex;
    flex-direction: column;

    border: 5px solid black;
    width: 400px;
    margin: 10px;
    margin: auto; 
    margin-top: 50vh; 
    transform: translateY(-50%);
}
#imagemLogo{
    max-width: 100%;
    max-height: 200px;
}